# EditorConfig is awesome: https://editorconfig.org
# top-most EditorConfig file
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Specific settings for TypeScript files
[*.ts]
indent_size = 2

# Specific settings for JSON files
[*.json]
indent_size = 2

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false

# Specific settings for YAML files
[*.yml]
indent_size = 2

# Specific settings for JavaScript files
[*.js]
indent_size = 2

# Specific settings for Dockerfiles
[Dockerfile]
indent_style = space
indent_size = 2
